<h1>Sign up for this sweet forum!</h1>

<%= form_for @user do |form| %>
	<%= form.label :email %>
	<%= form.text_field :email %>

	<%= form.label :password %>
	<%= form.password_field :password %>

	<%= form.submit "Sign up!" %>
<% end %>